__pycache__/
*.pyc
*.pyo
*.log
*.ckp.gz
*.mldist
*.bionj
*.treefile
*.ids.fasta
*.idmap.tsv
.DS_Store
.Rhistory
.venv/

input/cog-24.cog.csv
input/cog-24.org.csv
input/cog-24.tax.csv
input/2296Genomes.prot.fasta

results/*
!results/README.md
